$pj_color_black: #232323;
$pj_color_blue: #385bce;
$pj_color_white: #ffffff;
$pj_color_grey: #878787;
$pj_color_green: #4ed7a8;
$pj_color_red: #ff0000;
$pj_color_orange: #f09b23;
$pj_color_cyan: #F2F6FB;
