* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;        
}

body {    
    font-family: 'Roboto', sans-serif;
}

img {
    max-width: 100%;
}

ul, ol, menu {
    list-style: none;
}

a {
    color: currentColor;
    text-decoration: none;
}

